.wrapper {
    width: 100%;
}

.box {
    height: 600px;
    background-color: yellow;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    width: 28%;
}

.child1,
.child2,
.child3 {
    background-color: aqua;
    margin: .3em;
}

.child1,
.child2 {
    width: 33%;
    height: 40%;
}

.child1 {
    margin-left: 0px;
}

.child2 {
    margin-right: 0px;
}

.child3 {
    width: 95%;
    height: 50%;
    margin: .3em;
    padding: 1em;
    margin-top: 1em;
}

.child1 {
    margin-left: 0px;
}

.child2 {
    margin-left: 6em;
}

.child21 {
    background-color: aqua;
    width: 31%;
    height: 90%;
    margin: 1em;
    padding: 1em;
}

.child31,
.child34 {
    background-color: aqua;
}

.child31,
.child34 {
    width: 30%;
    height: 40%;
    margin: 1em;
    padding: 1em;
}

.child34 {
    margin-left: 1em;
}

.child33,
.child32 {
    width: 30%;
    height: 40%;
    margin: 1em;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .child21 {
        width: 92%;
        height: 40%;
    }
    .box {
        width: 92%;
    }
}
